<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="WallApp" connectionString="Data Source='DESKTOP-88VQFLS';Initial Catalog='WallApp';User Id='sa';Password='Adweb#123';" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
